.header{
    font-family: roboto,arial;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(0, 145, 230);
    height: 55px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.logo img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
li{
    list-style: none;
    display: inline;
}
li a{
    color: rgb(209, 218, 219);
    margin-right: 25px;
    font-weight: bold;
    text-decoration: none;
}
.Home,
.about,
.contact,
.service{
    font-family: roboto,arial;
    font-weight: 500;
    padding: 3px 3px 3px 3px;
}
.Home:hover,
.about:hover,
.contact:hover,
.service:hover{
    
    color: blue;
}